body {
    background-color: #333333;
    display: flex;
    align-items: center; /* sets the default alignment of element in the flexible
    container
    tip use align self to override this property
    */
    /* Note=> align Item :  shorter word ->vertical alignment
    justify-content: longer word => horzontal alignment ;
    */
    justify-content: center;
    margin:  0 auto;
    min-height: 600px;
}

.container .heading h1 {
    color: #06bb9d;
    font-size: 3em; 
} 

.container .heading p{
    color: blanchedalmond;
    font-size: 1em;
    text-align: right;
    border: 2px solid rebeccapurple;
}

#box * {
    height: 150px;
    width: 150px;
    position: absolute;
    backface-visibility: visible;
    margin: 0 auto;
    border: 1px solid rgb(246, 255, 225);
}

#box {
    margin-top: 200px;
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: skew .0004s linear 0s infinite; 
}

.face2 {
    transform: translateZ(150px);
    background-color: crimson;
}

.face3 {
    transform: rotateX(90deg) translateZ(75px) translateY(75px);
    background-color: darkgreen;
}

 .face4 {
    transform: rotateX(90deg) translateY(75px) translateZ(-75px);
    background-color: darkslategray;
} 
 
.face5 {
    transform: rotateY(-90deg) translateX(75px) translateZ(75px);
    background-color: #e7e7e7;
}

.face6 {
    transform: rotateY(90deg) translateX(-75px) translateZ(75px);
    background-color: #e7e7e7;
}
@keyframes skew {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg) rotateZ(360deg);
    }
}